@tailwind base;
@tailwind components;
@tailwind utilities;


.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0); }
}


.hover-card {
  transition: all 0.3s ease;
}
.hover-card:hover {
  transform: scale(1.03);
}
